<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412639414756-a84aq6ns91pm838atl28de38socabg9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412639414756-a84aq6ns91pm838atl28de38socabg9g</string>
	<key>API_KEY</key>
	<string>AIzaSyBOKDPAIi_j25XeVMLV9lnJs5WPzmCafuU</string>
	<key>GCM_SENDER_ID</key>
	<string>412639414756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelBooking</string>
	<key>PROJECT_ID</key>
	<string>coupon-smart</string>
	<key>STORAGE_BUCKET</key>
	<string>coupon-smart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412639414756:ios:bddaf141509efae75f5ff1</string>
</dict>
</plist>